@model IEnumerable<CardTeam>;
@{
    ViewData["Title"] = "Our Team";
}
<partial name="_NamePagePartial" />


<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            @foreach(var item in @Model)
            {
                <partial name="_CardTeamPartial" model="@item"/>
            }
        </div>
    </div>
</div>
