@model IEnumerable<MenuPosition>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Food Menu";
}
<partial name="_NamePagePartial" />

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach (var item in Model)
                        {
                            foreach (var name in item.menuNamePositions)
                            {
                                <a class="btn btn-primary">@name.menuName</a>
                            }
                            
                            
                            <partial name="_CardMenuPartial" model="@item" />
                        }
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

